
{% extends "base.html" %}

{% block content %}

<h1 class="text-xl mb-4">
    {% if category %}Edit{% else %}Create{% endif %}
</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input name="name" placeholder="Name of category"
           value="{{ category.name }}"
           class="block mb-2 p-2 w-full">

    <textarea name="description"
              class="block mb-2 p-2 w-full">{{ category.description }}</textarea>

    <input name="color" placeholder="#FF0000"
           value="{{ category.color }}"
           class="block mb-2 p-2 w-full">

    <input type="file" name="icon" class="block mb-2">

    <input type="number" name="order"
           value="{{ category.order }}"
           class="block mb-2 p-2 w-full">

    <button class="bg-green-500 text-white px-4 py-2">
        Save
    </button>

</form>

{% endblock %}
